body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* --------------- HEADER STYLES ------------------------- */
header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  align-items: center;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  padding-left: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
}

/* --------------- MAIN CONTENT STYLES ------------------------- */
.main {
  padding-top: 69px;
  opacity: 0.9px;
  width: 1200px;
  margin: auto;
}

/* Mission Section */
#mission{
  height: 700px;
  background-image: url(../images/mission-background.jpg);
  padding-top: 70px;
}
